body
{
  background-color: black;  
  width: 100%;
  height: 100%;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.ball
{
  position: absolute;
  
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;

  transform-origin: center;

  background-color: white;
  border-radius: 50%;
  filter: drop-shadow(0 0 .25rem white);
}

.paddle
{
  position: absolute;

  top:50%;
  
  transform-origin: center;
  
  background-color: white;
}
.paddle::before
{
    content: '-';
    
    position: absolute;

    top: 0;

    width: inherit;
    height: fit-content;

    transform: translateY(-150%);

    text-align: center;
    
    color: rgba(255, 255, 255, 25%);
    filter: drop-shadow(0 0 3px white);
}
.paddle::after
{
    content: '+';

    position: absolute;

    bottom: 0;

    width: inherit;
    height: fit-content;

    transform: translateY(150%);

    text-align: center;
    
    color: rgba(255, 255, 255, 25%);
    filter: drop-shadow(0 0 3px white);
}

#p1
{
    left: 10px;
}
#p1::before
{
    content: 'W';
}
#p1::after
{
    content: 'S';
}
#p2
{
    right: 10px;
}
#p2::before
{
    content: '\2191';
}
#p2::after
{
    content: '\2193';
}

.uiElements
{
    user-select: none;

    z-index: -1;
    isolation: isolate;

    position: absolute;

    width: 100%;
    height: 100%;
}

.prompt
{
    position: absolute;
    color: white;
    font-family: monospace;
    font-size:5ch;
    text-align: center;
    font-weight: bold;

    left: 50%;
    right: auto;
    top: 50%;
    bottom: auto;

    transform: translate(-50%, -50%);

    transform-origin: center;
}

.score
{
    position: absolute;

    font-family:sans-serif;
    font-weight: 900;
    font-size: 20ch;
    
    top: 50%;
    bottom: auto;

    transform-origin: center;
    transform: translate(0, -50%);
    
    color: rgba(255, 255, 255, 20%);
    filter:drop-shadow(0 0 5px white)
}
#p1Score
{
    left: 20%;
}
#p2Score
{
    right: 20%;
}

.fieldCenter
{
    z-index: -1;

    position: absolute;

    left: 50%;
    right: auto;
    
    transform: translateX(-50%);

    width: 2px;
    height: 100%;

    background-color: rgba(255, 255, 255, 20%);
    filter: drop-shadow(0 0 5px white);
}